@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  background-color: #FEAFC3; /* special/light */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440; /* basic/extra-dark */
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  gap: 8px 24px;
  grid-template-columns: 126px 182px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons & links*/
.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 26px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #FCFCFC;
  margin: 0;
}

.btn-primary {
  box-sizing: content-box;
  color: #2D3440; /* basic/extra-dark */
  background-color: #FCFCFC; /* basic/extra-light */
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.btn-secondary {
  color: #FCFCFC; /* basic/extra-light */
  background-color: #FF2F64 /* special/extra-bright*/;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
}

.btn-tertiary {
  background-color: rgba(252, 252, 252, 0.3); /* basic/extra-light */
  border: 2px solid #FCFCFC;
  padding: 8px 32px;
}

.btn-icon {
  padding: 0;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.btn-link {
  background-image: url("../icons/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-pagination {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-pagination-active {
  background-color: #FCFCFC;
}

.btn-tg {
  background-image: url("../icons/socitem-tg.svg");
}

.btn-vk {
  background-image: url("../icons/socitem-vk.svg");
}

.btn-yt {
  background-image: url("../icons/socitem-yt.svg");
}

.btn-basket {
  background-image: url("../icons/btn-basket.svg");
  background-size: contain;
}

/* text (size & weight) */
.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.main-text-big {
  font-size: 18px;
  line-height: 24px;
}

.main-text-small {
  line-height: 20px;
}

.label-text {
  font-size: 14px;
  line-height: 20px;
}

.label-text-small {
  font-size: 12px;
  line-height: 16px;
}

.head-text-extra {
  font-size: 36px;
  line-height: 46px;
}

.head-text-big {
  font-size: 32px;
  line-height: 46px;
}

.head-text-medium {
  font-size: 24px;
  line-height: 30px;
}

.head-text-small {
  font-size: 20px;
  line-height: 24px;
}

.section-index:not(:last-child) {
  margin-bottom: 80px;
}

/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.main-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  color: #2D3440; /* basic/extra-dark */
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.navigation-user-item:not(:first-child) {
  margin-left: 16px;
}

.navigation-user-link {
  padding: 8px 16px;
  display: block;
  color: #2D3440; /* basic/extra-dark */
  text-decoration: none;
}

.navigation-user-link.telephone {
  padding: 8px 0;
}

/* slider */
.slider-items {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-item-description {
  padding-left: 70px;
}

.slider-item-heading {
  width: 470px;
}

.slider-item-text {
  width: 430px;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slider-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.social-item:not(:first-child) {
  margin-left: 12px;
}

.social-item svg {
  display: block;
}

  /* gifts */
.gifts-heading {
  width: 434px;
  margin: 0 auto 25px;
}

.gifts-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.gifts-item {
  width: 570px;
  background-color: #FF7799; /* special/neutral */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  border-radius: 16px;
  padding: 36px;
  margin: 30px 15px 0;
}

.gifts-item-heading {
  margin: 0 0 28px 0;
}

.gifts-description {
  width: 304px;
  margin: 0 0 28px 0;
}

.gifts-item-raspberry {
  background-image: url("../images/bg-raspberry.png");
}

.gifts-item-marshmello {
  background-image: url("../images/bg-marshmello.png");
}

.gifts-heading {
  text-align: center;
}

/* catalog (section) */
.catalog-heading {
  width: 527px;
  margin: 0 auto 56px;
  text-align: center;
}

.catalog-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
}

.card {
  background-color: #FCFCFC; /* basic/extra-light */
  text-align: center;
  border-radius: 8px;
}

.card-description {
  padding: 0 40px;
  color: #565C66; /* basic/dark */
  margin: 0 0 16px 0;
}

.card-heading {
  color: #2D3440; /* basic/extra-dark */
  margin: 0 0 8px 0;
}

.card-price {
  margin: 0;
}

.card a {
  display: block;
  text-decoration: none;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-footer {
  padding: 0 40px 24px;
}

/* advantages */
.advantages {
  background-color: #ffffff;
  background-image:  url("../images/border-advantages.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.advantages-inner {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-inner .flex-container {
  margin: 0 0 -40px 0;
}

.advantages-item {
  width: 505px;
  margin: 0 0 40px 0;
}

.advantages-heading {
  text-align: center;
  margin: 0 0 56px 0;
}

.advantages-description {
  color: #565C66; /* basic/dark */
  margin: 0;
}

/* info */
.info-item {
  width: 570px;
}

.news {
  background-color: #ffffff;
  background-image:  url("../images/bg-news.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  border-radius: 16px;
  padding: 32px;
}

.news-text {
  color: #565C66; /* basic/dark */
  margin: 0 0 12px 0;
}

.news-heading {
  width: 303px;
  margin: 0;
}

.news-heading a {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
}

.subscribe {
  background-color: #ffffff;
  background-image: url("../images/border-subscribe.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
}

.subscribe-inner {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 26px;
}

.subscribe-text {
  width: 506px;
  margin: 0 0 42px 0;
  color: #565C66; /* basic/dark */
}

/* delivery */
.delivery .flex-container {
  align-items: center;
}
.delivery {
  background-color: #FCFCFC;/* basic/extra-light */
  background-image: url("../images/bg-delivery.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
}

.delivery-description {
  width: 371px;
}

.delivery-heading {
  margin: 0 0 24px 0;
}

.delivery-order {
  width: 500px;
  border-radius: 8px;
  background-color: #FCFCFC; /* basic/extra-light */
  padding: 40px;
}
.delivery-form p {
  margin: 0;
}

.delivery-form-grid {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-input {
  display: flex;
  flex-direction: column;
}

.delivery-form-input label {
  margin-bottom: 8px;
}

.phone-input {
  grid-column: 2 / 3;
}

.address-input {
  grid-column: 1 / 3;
}

.delivery-form-btn {
  grid-column: 1 / 3;
  justify-self: center;
  margin-top: 12px;
}

.delivery-text {
  color: #565C66; /* basic/dark */
}

.delivery-order-label {
  color: #565C66; /* basic/dark */
  margin: 0 0 32px 0;
}

/* contacts */
.contacts {
  background-color: #FCFCFC; /* basic/extra-light */
  background-image: url("../images/bg-contacts.png");
  background-repeat:  no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 64px;
  border-radius: 16px;
}

.contacts-container {
  background-color: #FCFCFC;/* basic/extra-light */
  width: 343px;
  padding: 40px;
  border-radius: 8px;
}

.contacts-heading {
  margin: 0;
}

.contacts-text {
  color: #565C66; /* basic/dark */
  margin: 0 0 12px 0;
}

.contacts-phone {
  margin-bottom: 32px;
}
.contacts-phone a {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
}
.contacts-address {
  margin-bottom: 24px;
}
/* footer */
.footer {
  padding: 48px 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links {
  align-self: flex-start;
}

.footer-links a {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
}

.footer-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-text {
  margin: 0;
}

.html-academy-link {
  color: #2D3440; /* basic/extra-dark */
}

.social-item a {
  display: block;
}

/* CATALOG PAGE */
.catalog-header {
  margin-bottom: 32px;
}
.breadcrumbs {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}
.breadcrumbs a {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
}

.breadcrumbs a.current-link {
  text-decoration: underline;
}
.catalog-filter {
  margin-bottom: 44px;
}
.main-catalog .catalog-heading {
  margin: 0 0 40px 0;
  text-align: start;
}

.catalog-cards-list {
  margin-bottom: 57px;
}

.catalog-pagination a {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
}

.main-catalog {
  flex-grow: 1;
}

.catalog-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 81px;
}

.catalog-pagination {
  display: flex;
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #2D3440; /* basic/extra-dark */
  display: block;
  padding: 2px 7px;
}

.pagination-show-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
